/* Default Tag Cloud View --------------------------------------------------- */

.flexicloud {
  list-style-type: none;
  margin: 10px;
  padding: 0;
}

.flexicloud li {
  display: inline;
  margin: 3px;
}

.flexicloud li.weight-1  { font-size: 0.7em; }
.flexicloud li.weight-2  { font-size: 0.8em; }
.flexicloud li.weight-4  { font-size: 0.9em; }
.flexicloud li.weight-5  { font-size: 1.0em; }
.flexicloud li.weight-6  { font-size: 1.1em; }
.flexicloud li.weight-7  { font-size: 1.2em; }
.flexicloud li.weight-8  { font-size: 1.3em; }
.flexicloud li.weight-9  { font-size: 1.4em; }
.flexicloud li.weight-10 { font-size: 1.5em; }
.flexicloud li.weight-11 { font-size: 1.6em; }
.flexicloud li.weight-12 { font-size: 1.7em; }
.flexicloud li.weight-13 { font-size: 1.8em; }
.flexicloud li.weight-14 { font-size: 1.9em; }
.flexicloud li.weight-15 { font-size: 2.0em; }

.flexicloud_no_tags {
  display: block;
  color: #990000;
  font-weight: bold;
}